-- Create a read-only user in PostgreSQL
-- where $db_name is the database and $db_user is the name
-- of the user that have only read access to the database $db_name
GRANT CONNECT ON DATABASE $db_name TO $db_user;
GRANT USAGE ON SCHEMA public TO $db_user;
GRANT SELECT ON ALL TABLES IN SCHEMA public TO $db_user;
